html,
body {
  padding: 0;
  margin: 0;
  
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

a {
  color: inherit;
  text-decoration: none !important ;
}

* {
  font-family: Roboto;
  box-sizing: border-box;
}


