.container {
  padding: 0 2rem;
  margin-top: 6em;
}
.main {
  margin-top: 10%;
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:transparent;
}
.created{
   font-size: smaller;
   margin: -1.5em 0 0 0;
   padding: 0;
}

.cols{
  background-color:  #fefefe;
  padding-top: 2% !important;
  padding-left: 3% !important;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  }
  .cols>a{
    margin-top: 0.5em;
    color: #3b3b3b;
    font-size: medium;
  }
.like{
  background-color: #f5f5f5; 
  width: 3em;
  padding: 3em;
  position: relative;
  top: -2em;
  left: 20px; 
}
.heart{
  position: relative;
  bottom: 1em;
  right: 0.75em;
  top: -0.5em;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-size: 28px;
  line-height: 28px;
  color:#3b3b3b;
  margin-top: 0px;
}
 

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.card {
  width: 40%;
  height: 90px;
  margin: 38px 40px 30px 150px;
  padding: 0 5% 0 5%;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
}


.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


.header{ 
  position: fixed;
  width: 100%;  
  top:0;
  height: 114px;
  margin: 0px;
  padding: 44px 1082px 42px 150px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  font-family: Baskerville;
  z-index: 999;
}

.button{
  width: 98px;
  height: 31px;
  border-radius: 2px;
  border: solid 1px #1797ff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color:#606060;
}
.button>a:active{
  color: #1797ff;
}

.select{
  background-color: #ffffff;
  z-index: 0;
  position: relative;
  right: 208%;
  width: 240px;
  padding: 5px 12px 5px 12px;
  border-radius: 4px;
}
 .select>option{
  margin: 5px;

 }

@media (min-width: 850px) {
     
.cols{
  display: flex;
  border: #979797 solid 1px;
  width: 42%;
  padding: 1.5em; 
  border-radius: 6px;
  height: 6em;
  margin: 1%;
  overflow: hidden;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}
.cols:hover{ 
  opacity: 0.4;
}
.like{
  float:right;

}

.rowX{
  margin-bottom: 3em;
  padding: 1.5em;
  width: 110%;
  display: flex;
  justify-content: space-evenly;
}
}


@media (max-width: 1250px) {
  .select{
    right: 0 !important;
    margin-top: 20px;
  } 


}

@media (max-width: 1000px) {
  .select{
    right: 0 !important;
  }
     
  .cols{

    border: #979797 solid 1px;

    padding: 1.5em; 
    border-radius: 6px;
    height: 5em;
    margin: inherit;
  }
  .rowX{ 
    margin: 1.5em 0;
    display: flex;
    justify-content: space-evenly;
  }
  }
@media (max-width: 1000px) {
  .title{
    font-size: 28px;
    line-height: 28px;
    color: #3b3b3b;
    margin-top: 0px;
    margin-left: 360px;
    width: max-content;
  }  

  .main{
    margin-top: 20%;
  }
  .select{
    margin: 15px;
  }
  
}

  .b{border: #1797ff solid 1px;}
  
  .cont{
    display: contents;
    margin-bottom: 1em;
  } 
  
  .pagi{ color: #0070f3;
      text-align: center;
      height: 5em;
      width: 100%;
      background-color: #f5f5f5;
      position: fixed;
      bottom: 0;
  }
  .displayNo{
    display: none;
  }

 .faveNav{
  position: fixed;
  top: 15% !important;
 }